app==0.0.1
arrow==0.12.1
Assignment3==0.1
binaryornot==0.4.4
certifi==2018.1.18
chardet==3.0.4
click==6.7
cookiecutter==1.6.0
cookiecutter-pypackage==0.1.0
docopt==0.6.2
ez-setup==0.9
Flask==0.12.2
flask-platform==0.0.post0.dev24+gc2af0c5
future==0.16.0
git-spindle==3.4.2
github3.py==0.9.6
homebrew==0.0.19
hub==2.0
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jinja2-time==0.2.0
MarkupSafe==1.0
numpy==1.14.0
pandas==0.22.0
poyo==0.4.1
PyScaffold==3.0.1
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
sample==0.1.0
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
systeminfo==0.1
uritemplate==3.0.0
uritemplate.py==3.0.2
urllib3==1.22
virtualenv==15.1.0
Werkzeug==0.15.3
whelk==2.7.1
whichcraft==0.4.1